
#legend-table{
    margin-top: 1rem;
    width: 10vw;
}

#legend-table .ant-table-cell, #legend-table .ant-table-thead{
    font-size: small !important;
    height: fit-content;
    padding: auto;
}


.ant-table-cell, .ant-table-thead{
    text-align: center !important;
}
.ant-table-cell {
    font-size: 1.3rem !important;
}

h1{
    margin-bottom: 0.3rem
}

#input-field > *{
    margin-bottom: 0.3rem;
    width: 100%;
}
#truth-table {
    margin-top: 3rem
}